body {
  background: url("../photos/map05.jpg") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.text-padding {
  margin: 1em; }

.white-bkgd {
  background-color: #f4fffa;
  border-radius: 8px; }

.orange-bkgd {
  background-color: #d67905; }

.teal-bkgd {
  background-color: #03d3d1; }

@media only screen and (min-width: 40.063em) {
  .full-width-col {
    padding: 0; }

  .top-bot-padding {
    padding-top: 1em;
    padding-bottom: 1em; } }
