body {
  background: url("../img/homepage/background.jpg") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#book-img {
  border-radius: 5px; }

.full-width-col {
  padding: 0; }

.text-padding {
  margin: 1.4em 1em; }

.white-bkgd {
  background-color: rgba(244, 255, 250, 0.8);
  border-radius: 5px; }

.orange-bkgd {
  background-color: #d67905; }

.teal-bkgd {
  background-color: #03d3d1; }

.slick-dots {
  margin-left: 0; }

@media only screen and (min-width: 40.063em) {
  .top-bot-padding {
    padding-top: 1.5em;
    padding-bottom: 1.5em; } }
