@import 'variables';

.orange-bkgd {
	background-color: $orange;
}

.teal-bkgd {
	background-color: $teal;
}

.full-width-col {
	padding: 0;
}

.top-bot-padding {
	padding-top: 1.5em;
	padding-bottom: 1.5em; 
}