@import 'variables';

body {
	background: url('../img/homepage/background.jpg') no-repeat top center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


.full-width-col {
	padding: 0;
}

.text-padding {
	margin: 1.4em 1em;
}

.white-bkgd {
	background-color: rgba(244,255,250,0.8);
	border-radius: $global-radius;
}

.orange-bkgd {
	background-color: $orange;
}

.teal-bkgd {
	background-color: $teal;
}

.slick-dots {
	margin-left: 0;
}

@media only screen and (min-width: 40.063em) {
	.top-bot-padding {
		padding-top: 1em;
		padding-bottom: 1em; 
	}
}